@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.link-btn{
  @apply bg-taupe text-white text-base font-medium px-[1.25rem] py-[0.75rem] hover:bg-taupe-90 active:bg-black focus:bg-taupe-60 disabled:bg-white-30 disabled:text-taupe-30 max-sm:text-base max-sm:px-[1rem] max-sm:py-[0.75rem];
}
